{% extends "base.html" %}

{% block head_script %}
  <link rel="stylesheet" href="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
{% endblock head_script %}

{% block content %}
{% load widget_tweaks %}

<form class="form-horizontal">
  {% csrf_token %}
  <h2 class="form-signin-heading">Create new event</h2>
  {% for field in form %}
    {% if field.errors %}
      <div class="alert alert-danger">
          {{ field.errors }}
      </div>
    {% endif %}
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ field.label_tag }}</label>
      <div class="col-sm-5">
        {{ field|add_class:"form-control" }}
      </div>
      <p class="help-block col-sm-10 col-sm-offset-2">{{ field.help_text }}</p>
    </div>
  {% endfor %}
  <div class="form-group">
    <div class="col-sm-2 col-sm-offset-2">
      <button class="btn btn-lg btn-primary " formmethod="post" type="submit">Create</button>
    </div>
  </div>
</form>

{% endblock %}

{% block end_script %}
  <script src="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
  <script>
    $("#id_start_date").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
    $("#id_end_date").datetimepicker({format: 'yyyy-mm-dd hh:ii'});

    if (!$("#id_lat").val()) {
      $("#id_lat").val('55.929714');
    }
    if (!$("#id_lng").val()) {
      $("#id_lng").val('37.517528');
    }
  </script>
{% endblock end_script %}
